.App {
  text-align: center;
}

.center {
  text-align: center;
}

.header {
  background-image: url('/public/header.png');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  /* min-height: 50vh; */
}

