.App {
  text-align: center;
}

.center {
  text-align: center;
}

.header {
  background-image: url('./assets/header.webp');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

